* {
  box-sizing: border-box;
}
.wrapper {
  width: 200px;
  height: 220px;
  background: #cccccc;
  position: relative;
}
.translate {
  top: 0;
  left: 0;
  width: 200px;
  height: 220px;
  position: absolute;
  background: blue;
  transform: scaleY(0.75) skewX(20deg);
}
